<div class="modal fade modal-add-vote" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Add vote
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="form-horizontal form-add-new-vote">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Indicator</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static text-parent-node">
                                        {{ node.text }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input_vote" class="col-sm-2 control-label">Vote</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" value="1" id="input_vote" ng-model="vote"><span class="h3"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="-1" id="input_vote" ng-model="vote"><span class="h3"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input_comment" class="col-sm-2 control-label">Comment</label>
                                <div class="col-sm-10">
                                    <textarea rows="4" class="form-control" id="input_comment" ng-model="comment" placeholder="Explain why you up-vote/down-vote this indicator"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-submit-add-node" ng-click="submit_vote()" ng-disabled="requesting">
                    <span ng-show="requesting">Saving...</span>
                    <span ng-hide="requesting">Save</span>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
